# For Loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
words = ['cat', 'window', 'd']
for w in words:
    print(w) #add , what to print length for each word

cat 3
window 6
d 1

In [3]:
x=[1,'A',0,'Adasd']
for i in x:
    print(i)

1
A
0
Adasd

In [4]:
x='python'
for i in x:
    print(i)

p
y
t
h
o
n

## break statement

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        print('found banana')
        break

apple
banana
found banana

## The range() Function

In [8]:
len(range(5))

5

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
range(0,3)

range(0, 3)

In [10]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [7]:
range(10)

range(0, 10)

In many ways the object returned by range() behaves as if it is a list, but in fact it isn’t. It is an object which returns the successive items of the desired sequence when you iterate over it, but it doesn’t really make the list, thus saving space.

## print with index

In [2]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(a[i]) ##add what so we can print index

Mary 0
had 1
a 2
little 3
lamb 4

## example of continue

In [5]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [3]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
    else:
        print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

### List Comprehension ###
List comprehensions provide a concise way to create lists where each new element is the result of some operation applied to each member of another sequence or iterable.

In [8]:
squares = [x**2 for x in range(10)]
print(squares)
type(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

list

## enumerate( ) ##
The enumerate function in Python converts a data collection object into an enumerate object. Enumerate returns an object that contains a counter as a key for each value within an object, making items within the collection easier to access.

Looping through objects is useful but we often need the means to track loops, and the items accessed within that iteration of the loop. Enumerate helps with this need by assigning a counter to each item in the object, allowing us to track the accessed items.

This also makes it easier to manipulate our data collections where such a thing is possible. Not all data collection objects in Python are mutable, sets are a great example of this.

In [9]:
a=['a','b','c']
enumerate(a)

In [21]:
a=['a','b','c']
for i in enumerate(a):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

## zip( )

In [10]:
L1=[1,2,3,4]
L2=[3,4,2,1]
for i, k in zip(L1,L2):
    print(i,k)

1 3
2 4
3 2
4 1

## what will happend when L1 and L2 are different length

In [22]:
L1=[1,2,3,4]
L2=[3,4,2]
for i, k in zip(L1,L2):
    print(i,k)

1 3
2 4
3 2

## how to use for loop to print the pyramids below

.
..
...
....
.....

In [ ]:
#3mins 2:02

    .
   ..
  ...
 ....
.....

In [ ]:
#5mins 2:08

    .
   ..
  ...
 ....
.....

    ..
   .  .
  .    .
 .      .
.        .

In [ ]:
a=['.   .  .   .  .   .',
'.   .  .   .  ..  .',
'.....  .   .  . . .',
'  .    .   .  .  ..',
'  .    .....  .   .']

In [35]:
for i in a:
    print(i)
    time.sleep(1)

.   .  .   .  .   .
.   .  .   .  ..  .
.....  .   .  . . .
  .    .   .  .  ..
  .    .....  .   .

In [22]:
import time

for i in range(10):
    print('.')
    time.sleep(1)

.
.
.
.
.
.
.
.
.
.

In [21]:
#12mins
for i in range(5):
    A=4-i
    B=2*i
    C=4-i
    print(' '*A+'.'+' '*B+'.'+' '*C)

    ..
   .  .
  .    .
 .      .
.        .

In [ ]:
 .      
. .
 .
. .
 .
#hint:odd or even, 10mins

In [34]:
for i in range(5):
    if i %2==0:
        print(' .')
    else:
        print('. .')

 .
. .
 .
. .
 .

    .   
   . .
  . . .
 . . . .
. . . . .

    .
   . .
  . . .
 . . . .
. . . . .

# While Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
i = 1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

With the break statement we can stop the loop even if the while condition is true

In [8]:
#Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        print("found 3")
        break
    i += 1

1
2
3
found 3

With the continue statement we can stop the current iteration, and continue with the next:

In [9]:
#Continue to the next iteration if i is 3:
i = 0
while i < 6:
    i += 1
    if i == 3:
        print("found 3")
        continue
    print(i)

1
2
found 3
4
5
6

With the else statement we can run a block of code once when the condition no longer is true:

In [10]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6