In [1]:
x='a b c d'
x.split()

['a', 'b', 'c', 'd']

<h2>LISTS</h2>

#### What is a List?
Lists are data structures that contain an ordered collection of elements. These elements are generally of the same type and can contain elements such as single data types through to more complex data structures such as other lists or dictionaries.
<br>
<br>
#### Why do we use Lists?
Lists are commonly used in programming to store and organize data so it can be easily sorted, indexed or searched.
<br>
<br>
#### How do we use Lists?
Lists are assigned to variables using a single equals, are denoted by square brackets, and use a comma to separate elements `[a,b]`.

### Creating a List 
There are two main ways of creating a list. First is to use square brackets,`a=[]` and the second is to use the list type cast `b=list()`.

In [4]:
L1= []
L2=[1,2,3]
L3=['A',2,3]
print(L1)
print(L2)
print(L3[0])#

[]
[1, 2, 3]
A

### Accessing items in a List ###
You can access list items by referring to the index number of the item. Note: Lists start with an index of 0. 

You can also use negative indexing to access items from back to front. E.g. -1 is the last item in the list and -2 is second last.

In [8]:
print(L3[0])
print(L3[-1])

A
3

You can also reference index ranges by using the colon between indexes which refer to the start and end of the range e.g. `[start:end]` or if you omit a number on either start (or end), it will include everything from the start (or end) up until the end (or start) e.g. `[:end]` will include the first item until the end index item.

In [11]:
print(L3[0:3])
print(L3[2:])

['A', 2, 3]
[3]

### List with List

In [9]:
a=[1,2,[3,4]]
a[2][1]

4

In [ ]:
L4=[1,'B',[1,2,3]]
print(L4)
print(L4[2][1])

### list( )

In [16]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
L5=list()
L6=list('spam')
L7=list(range(0,10))
print(L5)
print(L6)
print(L7)

### create list of number with range()

In [17]:
print(list(range(10)))
print(list(range(2,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

### property of list, you also can + and *

In [5]:
print(L2 + L3)
print(L2 * 3)

[1, 2, 3, 'A', 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

### List built-in function

In [24]:
#append( ) : append(obj) will append the object at the end of the list.
L=[1,2,3]
L.append(4)
print(L)

[1, 2, 3, 4]

In [25]:
L

[1, 2, 3, 4]

In [26]:
#extend( ): extend(seq) will break the seq and append them by order in the the list.
L.extend([1,2,[3,4]])
print(L)

[1, 2, 3, 4, 1, 2, [3, 4]]

In [27]:
#insert( ): insert() is inserting an object at the index.
L.insert(0,9) #INSERT(index,value)
print(L)

[9, 1, 2, 3, 4, 1, 2, [3, 4]]

### index() & count()

In [29]:
L=[2,2,4,3]
L.count(2)

2

In [ ]:
#index():return the first index with the value
#ex: list = [3,1,3], list.index(3) will return 0. Even list[0] and list[2] both are 3, list[0]is the first one have 3 in the list.
#count():return numbers of the value in the list.

print(L)
print(L.index(9)) #first index of 9 in L
print(L.count(5)) #numbers of 5 in L

### sort() & reverse()

In [ ]:
#sort(): ascending 
#reverse() :descending

L.sort() #from small to large
print(L)
L.reverse() #from large to small
print(L)

## What happen when we have list like below?

In [34]:
x=['1',1,2,'2']
x.sort()
x

TypeError: '<' not supported between instances of 'int' and 'str'

## 3 Ways to delete element from a list ##

del [ ]: remove the element by index

pop() :delete the last element of the list; also can use to remove the element by index. ex: pop(index)

remove() :remove by value, if there's repeated value, it will only remove the first one.

In [36]:
L=[0,1,2,2,2,5,6,5,5]
del L[0] #remove index[0]
print(L)
del L[1:3] #remove index 1:3
print(L)
L.pop() #default of pop is remove the last element
print(L)
L.pop(1) #remove the index 1 
print(L)
L.remove(5) #remove the 5
print(L)

[1, 2, 2, 2, 5, 6, 5, 5]
[1, 2, 5, 6, 5, 5]
[1, 2, 5, 6, 5]
[1, 5, 6, 5]
[1, 6, 5]

In [38]:
# Random number in list
import random

In [55]:
random.sample(range(10, 30), 5)

[18, 20, 27, 23, 19]

# Dictionary

-key-value container, where 1 key toward 1 value.

-not in order, so you cant use [index] to slice the dict.

-keys are immuatable, we only can change the values.

In [ ]:
x[key] #value

In [58]:
#2 way of creating dictionary

#by {}
class_num = {1: 10, 'Class2': 11, 'Class3': 9}
print(class_num)
#by dict()
class_num = dict(Class1 = 5, Class2 = 7, Class3 = 9)
print(class_num)
#Keys can be numbers
#ex: 
Dict= {1:'Apple', 2:'Banana'}
print(Dict)

{1: 10, 'Class2': 11, 'Class3': 9}
{'Class1': 5, 'Class2': 7, 'Class3': 9}
{1: 'Apple', 2: 'Banana'}

### keys( ): return all the keys in the dict ###

### values( ): return all the values in the dict ###

In [64]:
list(class_num.values())[0]

5

In [18]:
print(class_num.keys())
print(class_num.values())

dict_keys(['Class1', 'Class2', 'Class3'])
dict_values([5, 7, 9])

### items( ):return everything in dict and paired as tuple.

In [ ]:
tuple

In [65]:
print(class_num.items())
list(class_num.items())[0][0]

dict_items([('Class1', 5), ('Class2', 7), ('Class3', 9)])

'Class1'

In [27]:
class_num.items()

dict_items([('Class1', 5), ('Class2', 7), ('Class3', 9)])

### update the dict

In [66]:
D = {1:'aaa',2:'bbb'}
D

{1: 'aaa', 2: 'bbb'}

In [67]:
D[3]='ccc'
D[1]='Aaa'
print(D)

{1: 'Aaa', 2: 'bbb', 3: 'ccc'}

### update()

In [71]:
peopleA = {'adam':25 , 'bob': 19, 'carl': 30}
peopleB = {'dave':35 , 'earl': 22, 'fred': 27}   
peopleA.update(peopleB)
peopleA

{'adam': 25, 'bob': 19, 'carl': 30, 'dave': 35, 'earl': 22, 'fred': 27}

#### if the dict used to update has keys that exist in the first dict, the key will be overwritten with the updated keys

In [73]:
peopleC = {'fred':99 , 'gary': 18}
peopleA.update(peopleC)
peopleA

{'adam': 25,
 'bob': 19,
 'carl': 30,
 'dave': 35,
 'earl': 22,
 'fred': 99,
 'gary': 18}

### delete the dict by it's key

In [74]:
#1. use pop(key):remove the key from the dict.

D={1: 'abc', 2: 'def'}
D.pop(2)
print(D)

#2.del D[key]

D={1: 'abc', 2: 'def'}
del D[2]
print(D)

{1: 'abc'}
{1: 'abc'}

### Find the values by it's key

In [75]:
class_num = {'Class1': 10, 'Class2': 11, 'Class3': 9}
print(class_num['Class1'])
#get()
class_num['Class1']
class_num.get('Class1')

10

10

In [78]:
class_num.get('Class4')

## Duplicate keys ##

Python will not produce an error if you create a dict with duplicated keys.

However, only the last instance of the unique key will be stored.

In [79]:
d = {"a":1, "b":10, "a":2, "b":0, "a": 3}

In [80]:
d

{'a': 3, 'b': 0}

### not indexed

In [40]:
people = dict([('adam', 25), ('bob', 19), ('carl', 30) ])
people

{'adam': 25, 'bob': 19, 'carl': 30}

In [81]:
people[0]

NameError: name 'people' is not defined

### can not be sliced

In [ ]:
people[0:2]

## Use 'in' to check if the key/value is in the dict

In [83]:
people = dict([('adam', 25), ('bob', 19), ('carl', 30) ])
people

{'adam': 25, 'bob': 19, 'carl': 30}

In [84]:
'adam' in people

True

In [85]:
19 in people

False

In [86]:
19 in people.values()

True

# Tuple

In [91]:
a=(1,)
a

(1,)

In [92]:
a=1,2
b=2,3
print(a+b)

(1, 2, 2, 3)

In [93]:
a=1,5
print(a*2)

(1, 5, 1, 5)

In [95]:
t = ('bb','aa','cc')
sorted(t)

['aa', 'bb', 'cc']

### common mistake

In [97]:
a=('str')
b=('str',)
print(type(a))
print(type(b))
print(a)
print(b)

<class 'str'>
<class 'tuple'>
str
('str',)

### tuple nested tuple, can use double[] as lists.

In [98]:
t= (2,1,('a',4))
print(t[2])
print(t[2][0])

('a', 4)
a

## List with Tuple

In [100]:
a=[1,2,3]
b=1,2,3
a+b

TypeError: can only concatenate list (not "tuple") to list

In [101]:
a+list(b)

[1, 2, 3, 1, 2, 3]

# If-else

Decision making is anticipation of conditions occurring while execution of the program and specifying actions taken according to the conditions.

Decision structures evaluate multiple expressions which produce TRUE or FALSE as outcome. You need to determine which action to take and which statements to execute if outcome is TRUE or FALSE otherwise.

Python programming language assumes any non-zero and non-null values as TRUE, and if it is either zero or null, then it is assumed as FALSE value.
https://www.tutorialspoint.com/python/python_decision_making.htm

### Python supports the usual logical conditions from mathematics: ###

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [103]:
a = 33
b = 20
if b > a:
    print("b is greater than a")

## Elif ##
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [105]:
a = 33
b = 32
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

## Else ##
The else keyword catches anything which isn't caught by the preceding conditions.

In [107]:
a = 200
b = 33
if b >= a:
    print("b is greater equal to a")
else:
    print("a is greater than b")

a is greater than b

#### One line if statement:

In [108]:
if a > b: print("a is greater than b")

a is greater than b

#### One line if else statement:

In [109]:
a = 2
b = 0
print("A") if a > b else print("B")

A

In [110]:
True and True

True

## And ##
#### The and keyword is a logical operator, and is used to combine conditional statements:

In [111]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

## Or ##
#### The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

## Nested If ##
#### You can have if statements inside if statements, this is called nested if statements.

In [ ]:
if x>10 and x>20

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

## The pass Statement ##
#### if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [112]:
a = 33
b = 200

if b > a:
    
    pass

## Raise Statement

In [43]:
x=1
if x<10:
    raise ValueError('too little')

ValueError: too little

In [44]:
x=1
if x<10:
    raise smallError('too little')

NameError: name 'smallError' is not defined

## Try/except

In [46]:
try:
    1+'a'
except TypeError:
    print("typeError happened")
    continue #or you may use break to change the input

typeError happened

In [115]:
x=1
y='a'

try:
    print(x+y)
except TypeError: 
    print(int(x)+int(y))

2

In [116]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [119]:
try:
    int('a')
except ValueError:
    print("ValueError happened") #or you may use break to change the input

ValueError happened